/*Main Colors*/

:root {
    --main-color: #E8C6C6;
    --darker-color1: #C6A8A8;
    --darker-color2: #A79090;
    --lighter-color1: #FFE0E0;
    --lighter-color2: #FFE9E9;
}

body {
    width: 1200px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

html {
    background-color: var(--main-color);
}

h3 {
    display: inline;
}

header {
    margin: 0 auto;
    text-align: center;
    background-color: var(--darker-color1);
    padding: 1px;
    border: 1px solid black;
}

.spinnerM {
    background-color: var(--darker-color1);
    border: 1px solid black;
    width: 330px;
    margin: 10px 0;
    text-align: center;
    float: left;
}

.spinnerImg {
    margin: 5px auto;
    display: block;
}

.storageM {
    background-color: var(--darker-color1);
    border: 1px solid black;
    width: 330px;
    margin: 10px;
    padding: 5px;
    float: left;
}

.buyHeatUpgradeM {
    border: 1px solid black;
    width: 330px;
    margin: 10px 0;
    padding: 5px;
    float: left;
}

.buyCringeUpgradeM {
    width: 330px;
    margin: 0 10px;
    float: left;
}

ul {
    list-style-type: none;
}

.upgradeButton {
    background-color: var(--darker-color1);
    border: 1px solid black;
    width: 330px;
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
}

.counter {
    float: right;
    margin-right: 10px;
}

.small {
    font-size: 12px;
}
